<div th:remove="tag" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" th:href="@{/css/in_game_kkutu_shop.css}"/>

    <span id="PUBLIC">true</span>
    <!-- span#PORT= locals.PORT-->
    <span id="URL" th:text="${websocketUrl}"></span>
    <span id="MOREMI_PART" th:text="${moremiParts}"></span>
    <span id="AVAIL_EQUIP" th:text="${moremiEquips}"></span>
    <span id="RULE" th:text="${gameRules}"></span>
    <span id="OPTIONS" th:text="${gameOptions}"></span>

    <div id="Intro">
        <img id="intro" src="https://cdn.jsdelivr.net/npm/kkutuio@latest/img/kkutu/intro.png">
        <!-- img#intro-start(src='https://cdn.jsdelivr.net/npm/kkutuio@latest/img/kkutu/intro_start.gif')-->
        <div id="version" th:text="${version}"></div>
        <div id="intro-text" th:text="#{kkutu.loading}"></div>
    </div>
    <th:block th:replace="view/kkutu/menu"/>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='SettingDiag',width=300,height=290,title=#{kkutu.dialog.setting.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.setting.bgm-volume}"></h4>
                <th:block layout:replace="~{view/kkutu/option::settingOptionVolume(id='volume-bgm')}"/>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.setting.effect-volume}"></h4>
                <th:block layout:replace="~{view/kkutu/option::settingOptionVolume(id='volume-effect')}"/>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.setting.deny-request.title}"></h4>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='deny-invite',text=#{kkutu.dialog.setting.deny-request.invite})}"/>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='deny-whisper',text=#{kkutu.dialog.setting.deny-request.whisper})}"/>
                <h4></h4>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='deny-friend',text=#{kkutu.dialog.setting.deny-request.friend})}"/>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.setting.game.title}"></h4>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='auto-ready',text=#{kkutu.dialog.setting.game.auto-ready})}"/>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.setting.etc.title}"></h4>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='sort-user',text=#{kkutu.dialog.setting.etc.sort-user},style='width: 200px')}"/>
                <h4></h4>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='only-waiting',text=#{kkutu.dialog.setting.etc.only-waiting},style='width: 200px')}"/>
                <h4></h4>
                <th:block
                        layout:replace="~{view/kkutu/option::settingOption(id='only-unlock',text=#{kkutu.dialog.setting.etc.only-unlock},style='width: 200px')}"/>
            </div>
            <div class="dialog-bar tail-button">
                <button id="setting-ok" th:text="#{kkutu.dialog.setting.save}"></button>
                <button id="setting-server" th:text="#{kkutu.dialog.setting.change-server}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/dialog::dialog(id='CommunityDiag',width=300,height=300)}">
        <th:block layout:fragment="content">
            <div class="dialog-bar" style="height: 225px; overflow-y: scroll;">
                <div id="comm-friends"></div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="comm-friend-add" th:text="#{kkutu.dialog.community.friend-add}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='LeaderboardDiag',width=300,height=450,title=#{kkutu.dialog.leaderboard.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar" style="height: 350px;">
                <table id="ranking" style="text-align: center;">
                    <thead style="font-weight: bold; background-color: #DDDDDD;">
                    <tr>
                        <td width="30">#</td>
                        <td width="55" th:text="#{kkutu.dialog.leaderboard.level}">레벨</td>
                        <td width="115" th:text="#{kkutu.dialog.leaderboard.name}">이름</td>
                        <td width="100" th:text="#{kkutu.dialog.leaderboard.totalExp}">총 경험치</td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="dialog-bar">
                <h4 style="width: 100%;" id="lb-page"></h4>
            </div>
            <div class="dialog-bar tail-button">
                <button id="lb-next" style="margin-right: 6px;" th:text="#{kkutu.dialog.leaderboard.next}">다음</button>
                <button id="lb-me" th:text="#{kkutu.dialog.leaderboard.me}">내 순위</button>
                <button id="lb-prev" th:text="#{kkutu.dialog.leaderboard.prev}">이전</button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='QuickDiag',width=300,height=230,title=#{kkutu.dialog.quick.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.quick.gameMode}"></h4>
                <select id="quick-mode">
                    <option th:value="${data.index}" th:each="gameMode,data : ${gameModes}"
                            th:text="#{'game.mode.' + ${gameMode} + '.name'}"></option>
                </select>
            </div>

            <div class="dialog-bar" style="height: 59px;">
                <h4 style="height: 45px;" th:text="#{kkutu.dialog.quick.gameRule}"></h4>
                <th:block th:each="entry : ${gameOptionMap}">
                    <th:block layout:replace="~{view/kkutu/option::gameOption(key=${entry.key},prefix='quick')}"/>
                </th:block>
            </div>
            <div class="dialog-bar"><h4 style="width: 100%; height: 20px;" id="quick-status"></h4></div>
            <div class="dialog-bar"><h4 style="width: 100%; height: 20px;" id="quick-queue"></h4></div>
            <div class="dialog-bar tail-button">
                <button id="quick-ok" th:text="#{kkutu.dialog.quick.ok}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/dialog::dialog(id='RoomDiag',width=300,height=425)}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.room.room-title}"></h4>
                <input id="room-title" th:with="pHolder=#{kkutu.dialog.room.room-title.placeholder}"
                       th:placeholder="${nickname + pHolder}" maxlength="20">
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.room.password}"></h4>
                <input id="room-pw" type="password" th:placeholder="#{kkutu.dialog.room.password}" maxlength="20">
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.room.user-limit}"></h4>
                <input id="room-limit" type="number" min="2" max="8" step="1" value="8">
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.room.gameMode}"></h4>
                <select id="room-mode">
                    <optgroup label="한국어">
                        <option value="3" th:text="#{'game.mode.KSH.name'}">한국어 끝말잇기</option>
                        <option value="2" th:text="#{'game.mode.KKT.name'}">한국어 쿵쿵따</option>
                        <option value="8" th:text="#{'game.mode.KAP.name'}">한국어 앞말잇기</option>
                        <option value="6" th:text="#{'game.mode.KTY.name'}">한국어 타자 대결</option>
                        <option value="10" th:text="#{'game.mode.KDA.name'}">한국어 단어 대결</option>
                        <option value="5" th:text="#{'game.mode.KCW.name'}">한국어 십자말풀이</option>
                        <option value="12" th:text="#{'game.mode.KSS.name'}">한국어 솎솎</option>
                        <option value="4" th:text="#{'game.mode.CSQ.name'}">자음퀴즈</option>
                        <option value="9" th:text="#{'game.mode.HUN.name'}">훈민정음</option>
                    </optgroup>
                    <optgroup label="영어">
                        <option value="1" th:text="#{'game.mode.ESH.name'}">영어 끝말잇기</option>
                        <option value="0" th:text="#{'game.mode.EKT.name'}">영어 끄투</option>
                        <option value="7" th:text="#{'game.mode.ETY.name'}">영어 타자 대결</option>
                        <option value="11" th:text="#{'game.mode.EDA.name'}">영어 단어 대결</option>
                        <option value="13" th:text="#{'game.mode.ESS.name'}">영어 솎솎</option>
                    </optgroup>
                </select></div>
            <div class="dialog-bar" style="margin-top: -5px; height: 50px;">
                <h4></h4>
                <h4 class="dialog-bar-value" id="game-mode-expl" style="width: 100%; font-size: 11px;"></h4>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.room.roundCount}"></h4>
                <input id="room-round" type="number" min="1" max="10" step="1" value="5">
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.room.roundTime}"></h4>
                <select id="room-time">
                    <option value="10" style="color: #FF4444;"></option>
                    <option value="30"></option>
                    <option value="60" selected></option>
                    <option value="90"></option>
                    <option value="120"></option>
                    <option value="150"></option>
                </select></div>
            <div class="dialog-bar" style="height: 110px;">
                <h4 style="height: 100px;" th:text="#{kkutu.dialog.room.gameRule}"></h4>
                <th:block th:each="entry : ${gameOptionMap}">
                    <th:block layout:replace="~{view/kkutu/option::gameOption(key=${entry.key},prefix='room')}"/>
                </th:block>

                <div class="dialog-opt" id="room-injpick-panel">
                    <button id="room-injeong-pick" style="font-size: 11px;"
                            th:text="#{kkutu.dialog.room.pickInjeong}"></button>
                </div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="room-ok" th:text="#{kkutu.dialog.room.ok}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='InjPickDiag',width=200,height=400,title=#{kkutu.dialog.injPick.title})}">
        <th:block layout:fragment="content">
            <h4 th:text="#{kkutu.dialog.injPick.expl}"></h4>
            <div class="dialog-bar">
                <button id="injpick-all" th:text="#{kkutu.dialog.injPick.selectAll}"></button>
                <button id="injpick-no" th:text="#{kkutu.dialog.injPick.deselectAll}"></button>
            </div>
            <div class="dialog-bar" id="injpick-list" style="height: 280px; overflow-y: scroll;">
                <div class="dialog-opt" id="ko-pick-list" style="width: 100%;">
                    <div th:each="theme : ${koThemes}" style="float: left; width: 100%;">
                        <input th:id="${'ko-pick-' + theme}" type="checkbox" style="width: auto;">
                        <label th:for="${'ko-pick-' + theme}" th:text="#{'word.theme.' + ${theme}}"></label>
                    </div>
                </div>
                <div class="dialog-opt" id="en-pick-list" style="width: 100%;">
                    <div th:each="theme : ${enThemes}" style="float: left; width: 100%;">
                        <input th:id="${'en-pick-' + theme}" type="checkbox" style="width: auto;">
                        <label th:for="${'en-pick-' + theme}" th:text="#{'word.theme.' + ${theme}}"></label>
                    </div>
                </div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="injpick-ok" th:text="#{kkutu.dialog.injPick.ok}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/dialog::dialog(id='PracticeDiag',width=300,height=135)}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.practice.level}"></h4>
                <select id="practice-level">
                    <option value="0" th:text="#{kkutu.dialog.practice.level.0}"></option>
                    <option value="1" th:text="#{kkutu.dialog.practice.level.1}"></option>
                    <option value="2" selected th:text="#{kkutu.dialog.practice.level.2}"></option>
                    <option value="3" th:text="#{kkutu.dialog.practice.level.3}"></option>
                    <option value="4" th:text="#{kkutu.dialog.practice.level.4}"></option>
                </select>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.practice.team}"></h4>
                <select id="ai-team">
                    <option value="0" selected th:text="#{kkutu.dialog.practice.team.solo}"></option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                </select>
            </div>
            <div class="dialog-bar tail-button">
                <button id="practice-ok" th:text="#{kkutu.dialog.practice.ok}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='ResultDiag',width=400,height=420,title=#{kkutu.dialog.result.title},nocls=true)}">
        <th:block layout:fragment="content">
            <div class="result-board"></div>
            <div class="result-me">
                <div class="result-me-score"></div>
                <div class="result-me-money"></div>
                <div class="result-me-level">
                    <div class="result-me-level-head" th:text="#{kkutu.dialog.result.level}"></div>
                    <div class="result-me-level-body"></div>
                </div>
                <div class="graph result-me-gauge">
                    <div class="graph-bar" style="width: NaN%;"></div>
                </div>
                <div class="result-me-score-text"></div>
                <div class="expl result-me-expl"></div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="result-ok" th:text="#{kkutu.dialog.result.ok}"></button>
                <button id="result-save" th:text="#{kkutu.dialog.result.saveReplay}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='DictionaryDiag',width=400,height=300,title=#{kkutu.dialog.dict.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.dict.wpHere}"></h4>
                <input id="dict-input" style="width: 283px;" th:placeholder="#{kkutu.dialog.dict.wpInput}"
                       maxlength="200">
            </div>
            <div class="dialog-bar" id="dict-output"
                 style="height: 195px; overflow-y: scroll; color: #BBBBBB; background-color: #111111;"></div>
            <div class="dialog-bar tail-button">
                <button id="dict-search" th:text="#{kkutu.dialog.dict.searchBtn}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='InviteDiag',width=300,height=420,title=#{kkutu.dialog.invite.title})}">
        <th:block layout:fragment="content">
            <div class="invite-board" style="height: 355px; overflow-y: scroll;"></div>
            <div class="dialog-bar tail-button">
                <button id="invite-robot" th:text="#{kkutu.dialog.invite.inviteAI}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/dialog::dialog(id='RoomInfoDiag',width=300,height=365)}">
        <th:block layout:fragment="content">
            <div class="dialog-bar room-info-head">
                <h4 th:text="#{kkutu.dialog.roomInfo.roomTitle}"></h4>
                <h4 class="dialog-bar-value ellipse" id="ri-title"></h4>
                <h4 th:text="#{kkutu.dialog.roomInfo.gameMode}"></h4>
                <h4 class="dialog-bar-value" id="ri-mode"></h4>
                <h4 th:text="#{kkutu.dialog.roomInfo.rounds}"></h4>
                <h4 class="dialog-bar-value" id="ri-round"></h4>
            </div>
            <div class="dialog-bar" style="padding: 2px 0px; border-top: 1px dashed #CCC; margin: 2px 0px;">
                <h4 th:text="#{kkutu.dialog.roomInfo.players}"></h4>
                <h4 class="dialog-bar-value" id="ri-limit"></h4>
            </div>
            <div class="dialog-bar" style="height: 190px; overflow-y: scroll;">
                <div id="ri-players" style="width: 100%;"></div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="room-info-join" th:text="#{kkutu.dialog.roomInfo.joinBtn}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/dialog::dialog(id='ProfileDiag',width=300,height=395)}">
        <th:block layout:fragment="content">
            <div class="dialog-bar profile-head"></div>
            <div class="dialog-bar">
                <h4 style="width: 83px;" th:text="#{kkutu.dialog.profile.place}"></h4>
                <h4 class="dialog-bar-value" id="profile-place"></h4>
            </div>
            <div class="dialog-bar profile-record"
                 style="padding: 2px 0px; border-top: 1px dashed #CCC; margin: 2px 0px; height: 175px; overflow-y: scroll;">
                <div class="profile-record-field" style="font-weight: bold; text-align: center;">
                    <div class="profile-field-name" th:text="#{kkutu.dialog.profile.gameMode}"></div>
                    <div class="profile-field-record" th:text="#{kkutu.dialog.profile.record}"></div>
                    <div class="profile-field-score" th:text="#{kkutu.dialog.profile.totalExp}"></div>
                </div>
                <div id="profile-record"></div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="profile-whisper" th:text="#{kkutu.dialog.profile.whisper}">귓속말</button>
                <button id="profile-shut" th:text="#{kkutu.dialog.profile.block}">차단</button>
                <button id="profile-kick" th:text="#{kkutu.dialog.profile.kick}">강제퇴장</button>
                <button id="profile-report" th:text="#{kkutu.dialog.profile.report}">신고하기</button>
                <button id="profile-level" th:text="#{kkutu.dialog.profile.aiSetting}">AI 설정</button>
                <button id="profile-dress" th:text="#{kkutu.dialog.profile.dress}">프로필 관리</button>
                <button id="profile-handover" th:text="#{kkutu.dialog.profile.handover}">방장 인계</button>
                <button id="profile-copy" th:text="#{kkutu.dialog.profile.copyId}">ID 복사</button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='ReportDialog',width=350,height=265,title='끄투리오 유저 신고하기')}">
        <th:block layout:fragment="content">
            <b>1. 가장 적합한 신고 사유를 선택하여 주십시오.</b>
            <select id="rsl" style="width:100%;margin-top:5px;margin-bottom:5px;">
                <option disabled>가장 적합한 신고 사유를 선택하여 주십시오.</option>
                <option selected>[#100] 불건전한 채팅 (도배, 비방, 욕설, 정치적 발언 등)</option>
                <option>[#101] 비 정상적인 플레이 (승부 조작, 핵 사용 등)</option>
                <option>[#102] 부적절한 별명 또는 프로필 설명</option>
                <option>[#102] 홍보성 채팅</option>
                <option>[#103] 운영진 사칭</option>
                <option>[#104] 기타 운영정책 위반 행위</option>
            </select>
            <b>2. 신고 사유를 구체적으로 입력해 주십시오.</b>
            <textarea id="rst"
                      style="width:calc(100% - 12px);height:115px;margin-top:5px;"
                      placeholder="신고 사유를 250자 이내로 자세히 입력해주세요. 자세하게 입력하실수록 빠른 처리가 가능해집니다."
                      maxlength="250"></textarea>
            <div class="dialog-bar tail-button">
                <button id="report-ok">신고 접수</button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='KickVoteDiag',width=300,height=160,title=#{kkutu.dialog.kickVote.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar" id="kick-vote-text" style="text-align: center;"></div>
            <div class="dialog-bar" style="text-align: center;" th:text="#{kkutu.dialog.kickVote.notice}"></div>
            <div class="dialog-bar">
                <div class="graph kick-vote-time">
                    <div class="graph-bar" style="width: NaN%;"></div>
                </div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="kick-vote-no" th:text="#{kkutu.dialog.kickVote.no}"></button>
                <button id="kick-vote-yes" th:text="#{kkutu.dialog.kickVote.yes}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='PurchaseDiag',width=300,height=310,title=#{kkutu.dialog.purchase.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.purchase.pingBefore}"></h4>
                <h4 class="dialog-bar-value purchase-ping" id="purchase-ping-before"></h4>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.purchase.pingCost}"></h4>
                <h4 class="dialog-bar-value purchase-ping" id="purchase-ping-cost"></h4>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.purchase.pingAfter}"></h4>
                <h4 class="dialog-bar-value purchase-ping" id="purchase-ping-after"></h4>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.purchase.moremiAfter}"></h4>
                <div class="moremi" id="moremi-after" style="float: left; width: 100px; height: 100px;"></div>
            </div>
            <div class="dialog-bar">
                <h4 id="purchase-item-name" style="width: 100%; font-weight: bold;"></h4>
            </div>
            <div class="dialog-bar">
                <h4 id="purchase-item-desc" style="width: 100%;"></h4>
            </div>
            <div class="dialog-bar tail-button">
                <button id="purchase-no" th:text="#{kkutu.dialog.purchase.cancel}"></button>
                <button id="purchase-ok" th:text="#{kkutu.dialog.purchase.ok}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='ReplayDiag',width=300,height=300,title=#{kkutu.dialog.replay.title})}">
        <th:block layout:fragment="content">
            <input id="replay-file" type="file" style="width: 288px;" accept=".kkt">
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.replay.recordDate}"></h4>
                <h4 class="dialog-bar-value" id="replay-date">-</h4>
                <h4 th:text="${version}"></h4>
                <h4 class="dialog-bar-value" id="replay-version">-</h4>
            </div>
            <div class="dialog-bar">
                <h4 th:text="#{kkutu.dialog.replay.recordPlayers}"></h4>
                <h4 class="dialog-bar-value" id="replay-players">-</h4>
            </div>
            <div class="dialog-bar tail-button">
                <button id="replay-view" th:text="#{kkutu.dialog.replay.viewBtn}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='DressDiag',width=600,height=305,title=#{kkutu.dialog.dress.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 style="width: 150px;" th:text="#{kkutu.dialog.dress.nickname.name}"></h4>
                <input id="dress-nickname" type="textfield" th:placeholder="#{kkutu.dialog.dress.nickname.placeHolder}"
                       style="width: 435px;" maxlength="18"></div>
            <div class="dialog-bar">
                <h4 style="width: 150px;" th:text="#{kkutu.dialog.dress.exordial.name}"></h4>
                <input id="dress-exordial" type="textfield" th:placeholder="#{kkutu.dialog.dress.exordial.placeHolder}"
                       style="width: 435px;" maxlength="100">
            </div>
            <div class="dialog-bar" style="width: 150px;">
                <div class="moremi" id="dress-view" style="float: left; width: 150px; height: 150px;"></div>
                <h4 style="width: 100%; font-weight: bold;" th:text="#{kkutu.dialog.dress.myMoremi}"></h4>
            </div>
            <div class="dialog-bar" style="padding: 5px; width: 440px;">
                <div style="border-bottom: 1px solid #CCCCCC; height: 20px;">
                    <th:block th:each="moremiCategory : ${moremiCategories}">
                        <div class="category-filter dress-type" th:id="${'dress-type-' + moremiCategory}"
                             th:value="${#strings.listJoin(moremiGroups.get(moremiCategory), ',')}"
                             th:text="#{'item.category.' + ${moremiCategory}}">
                        </div>
                    </th:block>
                </div>
                <div class="goods-box" id="dress-goods"></div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="dress-ok" th:text="#{kkutu.dialog.dress.ok}"></button>
                <button id="dress-cf" th:text="#{kkutu.dialog.dress.charFactory}"></button>
                <button th:with="paybackHelp=#{kkutu.dialog.dress.paybackHelp}"
                        th:attr="onclick=${'alert(&quot;' + paybackHelp + '&quot;)'}"
                        th:text="#{kkutu.dialog.dress.payback}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='CharFactoryDiag',width=500,height=410,title=#{kkutu.dialog.charFactory.title})}">
        <th:block layout:fragment="content">
            <div class="dialog-bar" style="width: 300px;">
                <div id="cf-tray"></div>
                <div id="cf-dict"></div>
            </div>
            <div class="dialog-bar" style="width: 200px;"><h4
                    style="border-bottom: 1px solid #CCCCCC; width: 100%; height: 24px;"
                    th:text="#{kkutu.dialog.charFactory.cfReward}"></h4>
                <div id="cf-reward"></div>
            </div>
            <div class="dialog-bar" style="width: 200px;">
                <div id="cf-cost"></div>
            </div>
            <div class="dialog-bar">
                <div class="goods-box" id="cf-goods"></div>
            </div>
            <div class="dialog-bar tail-button">
                <button id="cf-compose" th:text="#{kkutu.dialog.charFactory.cfCompose}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='ChatLogDiag',width=350,height=500,title=#{kkutu.dialog.chatLog.title})}">
        <th:block layout:fragment="content">
            <div id="chat-log-board" style="height: 475px; font-size: 11px; overflow-y: scroll;"></div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='ObtainDiag',width=300,height=200,title=#{kkutu.dialog.obtain.title},nocls=true)}">
        <th:block layout:fragment="content">
            <div class="dialog-bar">
                <h4 style="width: 100%;" th:text="#{kkutu.dialog.obtain.obtained}"></h4>
            </div>
            <div class="jt-image" id="obtain-image" style="margin-left: 110px; width: 80px; height: 80px;"></div>
            <div class="dialog-bar" id="obtain-name" style="text-align: center;"></div>
            <div class="dialog-bar tail-button">
                <button id="obtain-ok" th:text="#{kkutu.dialog.obtain.ok}"></button>
            </div>
        </th:block>
    </th:block>
    <th:block
            layout:replace="~{view/kkutu/dialog::dialog(id='HelpDiag',width=550,height=400,title=#{kkutu.dialog.help.title})}">
        <th:block layout:fragment="content">
            <iframe id="help-board" width="550" height="375"></iframe>
        </th:block>
    </th:block>

    <th:block
            layout:replace="~{view/kkutu/product::product(id='UserList',title=#{kkutu.product.userList.title})}">
        <th:block layout:fragment="content">
            <div th:text="#{kkutu.product.userList.loading}"></div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/product::product(id='RoomList',title=#{kkutu.product.roomList.title})}">
        <th:block layout:fragment="content">
            <div th:text="#{kkutu.product.roomList.loading}"></div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/product::product(id='Shop',title=#{kkutu.product.shop.title})}">
        <th:block layout:fragment="content">
            <div class="shop-categories">
                <th:block th:each="moremiCategory : ${moremiCategories}">
                    <div class="category-filter shop-type" th:id="${'shop-type-' + moremiCategory}"
                         th:value="${#strings.listJoin(moremiGroups.get(moremiCategory), ',')}"
                         th:text="#{'item.category.' + ${moremiCategory}}">
                    </div>
                </th:block>
            </div>
            <div id="shop-shelf" style="width: 100%; height: 305px; overflow-y: scroll;"></div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/product::product(id='Room',title=#{kkutu.product.room.title})}">
        <th:block layout:fragment="content">
            <div class="team-selector">
                <div class="team-button team-0" id="team-0" th:text="#{kkutu.product.room.teamSolo}"></div>
                <div class="team-button team-1" id="team-1">A</div>
                <div class="team-button team-2" id="team-2">B</div>
                <div class="team-button team-3" id="team-3">C</div>
                <div class="team-button team-4" id="team-4">D</div>
            </div>
            <div class="room-users"></div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/product::product(id='Game',title=#{kkutu.product.game.title})}">
        <th:block layout:fragment="content">
            <div class="game-head">
                <div class="items"></div>
                <div class="hints" style="display: none;"></div>
                <div class="b-left cwcmd" style="display: none;">
                    <div class="cw-q-head"></div>
                    <input id="cw-q-input" th:placeholder="#{kkutu.product.game.inputHere}"
                           style="width: 313px; height: 20px; font-size: 15px;">
                    <div class="cw-q-body"></div>
                </div>
                <div class="b-left bb" style="display: none;"></div>
                <div class="jjoriping"><img class="jjoObj jjoEyeL"
                                            src="https://cdn.jsdelivr.net/npm/kkutuio@latest/img/jjoeyeL.png"><img
                        class="jjoObj jjoNose" src="https://cdn.jsdelivr.net/npm/kkutuio@latest/img/jjonose.png"><img
                        class="jjoObj jjoEyeR" src="https://cdn.jsdelivr.net/npm/kkutuio@latest/img/jjoeyeR.png">
                    <div class="jjoDisplayBar">
                        <div class="jjo-display ellipse"></div>
                        <div class="graph jjo-turn-time">
                            <div class="graph-bar" style="width: NaN%;"></div>
                        </div>
                        <div class="graph jjo-round-time">
                            <div class="graph-bar" style="width: NaN%;"></div>
                        </div>
                    </div>
                </div>
                <div class="chain"></div>
                <div class="rounds"></div>
                <div class="history-holder">
                    <div class="history"></div>
                </div>
            </div>
            <div class="game-body"></div>
            <div class="game-input">
                <input id="game-input" th:placeholder="#{kkutu.product.game.yourTurn}" readonly>
            </div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/product::product(id='Me',title=#{kkutu.product.me.title})}">
        <th:block layout:fragment="content">
            <div class="moremi my-image"></div>
            <div class="my-stat">
                <div class="jt-image my-stat-level"></div>
                <div class="my-stat-name ellipse"></div>
                <div class="my-stat-record"></div>
                <div class="my-stat-ping"></div>
                <div>
                    <div class="graph my-okg">
                        <div class="graph-bar" style="width: NaN%;"></div>
                    </div>
                    <div class="bar-text my-okg-text"></div>
                    <div class="expl" style="width: initial;">
                        <div style="color: #CCCCCC;" th:utext="#{kkutu.product.me.okgExpl}"></div>
                    </div>
                </div>
            </div>
            <div class="my-level"></div>
            <div class="graph my-gauge">
                <div class="graph-bar" style="width: NaN%;"></div>
            </div>
            <div class="bar-text my-gauge-text"></div>
        </th:block>
    </th:block>
    <th:block layout:replace="~{view/kkutu/product::product(id='Chat',title=#{kkutu.product.chat.title})}">
        <th:block layout:fragment="content">
            <div id="Chat"></div>
            <input id="Talk" maxlength="180" style="display:none;visibility:hidden;">
            <input id="MessageInput" maxlength="180" autocomplete="off">
            <button id="ChatBtn" th:text="#{kkutu.product.chat.sendBtn}"></button>
        </th:block>
    </th:block>

    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/in_game_kkutu.js}"></script>
</div>