<link rel="stylesheet" th:href="@{/css/in_login.css}"/>

<div class="login-with" th:text="#{login.title}"></div>

<a th:href="@{/login/facebook}">
    <button style="color: #FFFFFF; background-color: #235EE3;" th:text="#{login.button.facebook}"></button>
</a>

<a th:href="@{/login/google}">
    <button style="color: #000000; background-color: #FFFFFF;" th:text="#{login.button.google}"></button>
</a>

<a th:href="@{/login/naver}">
    <button style="color: #FFFFFF; background-color: #1EC800;" th:text="#{login.button.naver}"></button>
</a>

<div class="login-legal" th:utext="#{login.legal}"></div>
