<link rel="stylesheet" th:href="@{/css/in_login.css}"/>

<div class="login-with" th:text="#{login.title}"></div>

<a th:each="entry : ${oAuthSetting}" th:href="@{'/login/' + ${vendorName}}"
   th:with="vendorName=${entry.key.name().toLowerCase()}">
    <button th:style="'color: ' + ${entry.value.button.color} + '; background-color: ' + ${entry.value.button.backgroundColor}"
            th:text="#{'login.button.' + ${vendorName}}"></button>
</a>

<div class="login-legal" th:utext="#{login.legal}"></div>
